

.main{
	width:90%;
	height:1300px;
	margin: auto;
	text-align: center;
	max-width:1428px;
	
	min-width: 1200px;
	
	background-image: url("../images/bg.jpg");
    background-repeat:  repeat-x;
}

.TITLE0{
	position:relative;
	clear: both;
	height: 13%;
}
.line{
	width:100%;
	height:5px;
	background-color: #5599FF; 
}

.line1{
	width:80%;
	height:1px;
	background-color:#DDDDDD;
	opacity:0.3;
}

.line_div{
	clear: both;
	height: 2%;
}
.logo{
	float: left;
	width:9%;
	height: 81%;
	margin-left:12%; 
	margin-top: 1%;
	margin-bottom: 2%;
}

.DLUT{
	float: left;
	width:50%;
	height: 50%;
	margin-top:3%; 
}
.search-login{
     float: left;
     margin-left: 13%;
     margin-top: 9%;
}

.a_login{
	font-family: 풕턼환쥌;
	font-weight: bold;
	color:#5599FF;
	text-decoration:none;
}

.navigationBar{
	float: left;
	font-family:풕턼환쥌;
	font-weight: bold;
	font-size: 18px;
	text-decoration:none;
	padding-left:4px;
	padding-right:4px;
	width:11%;
	text-align: center;
    list-style-type:none;
}

.navigationBar1{
	float: left;
	font-family: 풕턼환쥌;
	color: #FFFFFF;
	font-size: 18px;
	background-color: #5599ff;
	line-height: 150%;
	padding-left:4px;
	padding-right:4px;
	/*padding-bottom: 0.5%;*/
	/*padding-top: 0.5%;*/
	width:11%;
	text-align: center;
}

.navigationBar_a
{
  text-decoration: none;
  color: #000000;
}
.navigationBar2{
	list-style-type:none;
	padding-left:2px;
	padding-bottom: 3%;
	padding-top: 4%;
	font-size: 14px;
}

.navigationBar3
{
	background-color:#5599ff;
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #717171;
	border-bottom: 1px solid #717171;

    
}
.Navigation{
	width:80%;
	height: 6%;
	margin-left: 10%; 
    text-align:center; 
    position: absolute;
	z-index: 1;
}

.arrow_d{
	margin-top: 4%;
	
}

.pictureDiv{
	position: relative;
    height: 30%;
    z-index: 0;
    margin-top: 5%;
    margin-bottom: 2%;
}

.pictures{
	width: 100%;
    height: 100%;
}

#banner_bg 
{
	position:absolute; 
	bottom:0;
	background-color:#000;
	height:10%;
	filter: Alpha(Opacity=30);
	opacity:0.3;
	z-index:1000;
    cursor:pointer;
    width:100%;
}

.pictureDiv ul 
{
	position:absolute;
	list-style-type:none;
	filter: Alpha(Opacity=80);
	opacity:0.8 solid #fff;
	z-index:2;
    margin:0; 
    padding:0; 
    bottom:2%; 
    right:2%;
    width: 6%;
    height: 6%;
}
.pictureDiv ul li 
{ 
	width: 30%;
	height: 100%;
	float:left;
	display:block;
	color:#FFF;
	border:#e5eaff 1px solid;
	background:#99bbff;
	cursor:pointer;
	text-align: center;
}
.pictureDiv ul li.on 
{ 
	background:#003377;
}



.titleBlock
{
    display: block;
	margin-right: 80%;
	font-family: 풕턼환쥌;
	font-size: 22px;
	color: #000000;
	text-decoration:none;

}

.news
{
	float: left;
	width: 25%;
	height: 40%;
	margin-left: 6%;
	margin-top: 2%;
	background-color: #ffffff;
}

.date
{
	float: left;
	width: 22%;
	height: 30%;
	background-color: #ccccff;
	margin-top: 4%;
	margin-left: 2%;
}

.d
{
	display: block;
	margin-top: 15%;
	font-family: 풕턼환쥌;
	font-weight: bold;
	font-size: 18px;
}

.m
{
	font-family: 풕턼환쥌;
	margin-bottom: 2%;
	font-size:14px;
}
.newsContent
{
	float: left;
	width: 70%;
	height: 80%;
	margin-left: 5%;
	margin-top: 3%;
	overflow: hidden;
	text-align: left;
}

.newsTitle
{
	list-style-type:none;
	font-family: 풕턼환쥌;
	font-size: 18px;

}

.newsText
{
	font-family: 풕턼환쥌;
	font-size:16px;

}

.newsPictures
{
	width: 100%;
	height: 40%;
}
.blockDiv
{
	width: 86%;
	height: 40%;
	text-align: center;
	margin:1.5% auto;
	/*background-color: #55ffff;*/
}
.blockDiv_kycg
{
	width: 86%;
	height: 30%;
	margin:0 auto;
	text-align: center;
	margin-top: 2%;
	/*background-color: #55ffff;*/
}

.kycg1
{
    float: left;
    width: 25%;
	height: 80%;
	margin-left: 6%;
	margin-top: 2%;
	text-align: left;
}

.kycgPictures
{
    width: 100%;
	height: 70%;
	margin-top: 4%;
}

.line2
{
	width:100%;
	height:3px;
	background-color:#003377;
	opacity:0.8;
}
.blockDiv_zxsp
{
	width: 86%;
	height: 30%;
	margin:0 auto;
	text-align: center;
	margin-top: 2%;

	/*background-color: #55ffff;*/
}

.zxjj
{
	float: left;
	width: 40%;
	height: 90%;
	margin-left: 5%;
}
.blockDiv_cylj
{
	width: 100%;
	height: 15%;
	margin:0 auto;
	margin-top: 2%;
	background-color: #DDDDDD;
}

.blockDiv_bqbz
{
	width: 100%;
	height: 8%;
	text-align: center;
	background-color: #003377;
}

.titleBlock_cylj
{
    display: block;
	margin-right: 80%;
	font-family: 籃쉳쫊副部;
	font-weight: bold;
	font-size: 18px;
	color: #000000;
	text-decoration:none;
	padding-top: 1%;
}

.bqbzText
{  
	margin:0px;
	padding-top: 2%;
	color: FFFFFF;
	font-family: 籃쉳쫊副部;
	font-size: 15px;
}

.ljDiv
{
  float: left;
  width: 40%;
  height: 60%;
}

.lj
{
   float: left;
   font-family: 籃쉳쫊副部;
   font-size: 16px;
   color: #5599ff;
   margin-left: 15%;
   margin-top: 4%;
   width: 20%;
}

.cyljPictures1
{
	float: left;
	width: 22%;
	height: 68%;
	margin-left: 2%;
	
}

.cyljPictures2
{
	float: left;
	width: 18%;
	height: 68%;
	margin-left: 2%;
	
}


.cyljPictures3
{
	float: left;
	width: 10%;
	height: 68%;
	margin-left: 2%;
	
}

